.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .left-column {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }
  
  .product-image {
   display:flex;
    position: relative;
    margin-left: 200px;
    border: 2px black   solid;
    margin-top: 5px;
   
  }
  
  .zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }
  
  .right-column {
    width: 40%;
    text-align: center;
    flex: 1;
  }
  
  .product-info {
    margin-top: 20px;
  }
  
  .product-buttons {
    margin-top: 20px;
  }
  
  .buy-button {
    background-color: rgb(232, 232, 239);
    color: rgb(7, 1, 1);
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .address-button{
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .info-button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:active {
    background-color: rgb(163, 15, 22);
  }
  .product-imagebottom {
    display:flex;
    position: relative;
    margin-top: 50px;

    
   }
   .product-image1{
    flex: 1;
    border: 2px black solid;
    margin-right: 2px;
   }
   .product-image2{
    flex: 1;
    border: 2px black solid;
    margin-right: 2px;
   }
   .product-image3  {
    flex: 1;
    border: 2px black solid;
    margin-right: 2px;
   }
   .product-image4{
    flex: 1;
    border: 2px black solid;
    
  
   }
